@model IEnumerable<EntityCRUD.Models.Users>

@{
    ViewData["Title"] = "Index";
}

<h1>Indeks</h1>

<p>
    <a asp-action="Create">Utwórz użytkownika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
